body {
  position: relative; /* Hace que los hijos se posicionen respecto al body */
  margin: 0; /* Elimina márgenes por defecto del body */
  width: 100%;
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgba(57, 2, 102, 0.536);
  position: fixed;
  bottom: 0px;
  padding: 5px;
  color: rgba(0, 255, 0, 0.536);
  font-size: 2rem;
  font-weight: bold;

  transition: all 2s;
}

.scary-face {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  /* position: absolute; /* Posiciona la imagen dentro del body */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* La imagen está encima */
}

.scary-face img {
  max-width: 100%; /* Opcional: para que la imagen no se desborde */
  max-height: 100%; /* Opcional: para que la imagen no se desborde */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.hidden {
  display: none;
}
