.hidden {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.container, .puntuacion {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #3b96fe;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #87ceeb;
}

.crono {
  font-size: 44px;
}
