body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4d0000;
}

header {
    padding-top: 0.2em;
    text-align: center;
    color: white;
    font-size: 2em;
}

.button-container, .input-container {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 12px;
}

#accion-btn {
    background-color: #007bff;
}

#terror-btn {
    background-color: #dc3545;
}

#all-btn {
    background-color: #28a745;
}

button:hover {
    background-color: #ff6600 !important;
}

.series-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.serie {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(61, 58, 58);
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.serie img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.serie h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #9c6161
}

.serie p {
    font-size: 14px;
    color: #ffffff;
}

input {
    border-radius: 10px;
    width: 200px;
    background-color: pink;
    padding: 5px; 
    border: 1px solid #ccc; 
  }