
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f4f4f9;
    }
    .container {
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .input-group {
      margin-bottom: 15px;
    }

    input {
      padding: 10px;
      margin: 5px;
      border-radius: 10px;
      border: 1px solid #ccc;
      width: 80px;
      text-align: center;
    }
    button {
      padding: 10px 20px;
      margin: 5px;
      border-radius: 10px;
      border: 1px solid #ccc;
      background-color: #ffabf2;
      color: white;
      cursor: pointer;
      font-size: 16px;
    }
    button:hover {
      background-color: #ff37ac;
    }
    .result {
      margin-top: 20px;
      font-size: 24px;
      font-weight: bold;
    }